<div ng-controller="AuthenticationController">
    <div class="modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- modal-header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div id="loginHeader">
                        <h4 class="modal-title">{{ modalTitle}}</h4>
                        <small>{{ modalSubtitle}}</small>
                    </div>
                </div>
                <!-- /.modal-header -->

                <!-- modal-body -->
                <div id="modalBody" class="modal-body table-responsive modal-body-first" style="padding-top: 0px; height: inherit;">
                    <div style="">

                        <!-- first step session -->
                        <div id="session">
                          <!-- login-box -->
                          <div class="login-box" data-ng-hide="authentication.currentUser" style="margin-top: 20px; max-height:400px">
                            <div class="login-logo" style="margin-bottom: 5px">
                              <a><img height="50px" src="modules/core/client/img/brand/logo.png" /></a>
                            </div>
                            <!-- /.login-logo -->

                            <!-- LOG IN CONTENT -->
                            <div id="signin" ng-hide="isSignUpMode">
                              <div class="login-box-body" style="padding: 0px">

                                <!-- .social-auth-links -->
                                <div class="social-auth-links text-center">
                                  <p>Login with:</p>
                                  <a ng-href="{{signinFacebookUri}}" class="btn btn-block btn-social btn-facebook btn-flat">Facebook</a>
                                  <a ng-href="{{signinGoogleUri}}" class="btn btn-block btn-social btn-google btn-flat">Google</a>
                                </div>

                                <!-- Email login links -->
                                <p class="login-box-msg">Login using email as username:</p>
                                <div data-ng-show="error" class="text-center text-danger">
                                  <strong data-ng-bind="error"></strong>
                                </div>
                                <form data-ng-submit="logIn()">
                                  <div class="form-group has-feedback">
                                    <input type="email" class="form-control" placeholder="{{pEmail}}" data-ng-model="credentials.email">
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                  </div>
                                  <div class="form-group has-feedback">
                                    <input type="password" class="form-control" placeholder="{{pPassword}}" data-ng-model="credentials.password">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-8">
                                      <label>
                                        <input type="checkbox">
                                        <span>Remember this</span>
                                      </label>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-4">
                                      <button type="submit" class="btn btn-primary btn-block btn-sm">Sign in</button>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                                </form>


                                <!-- Forgot account links -->
                                <a ng-click="clickedForgotMyPassword()" style="cursor:pointer" >Forgot password</a>
                                <br>
                                <a ng-click="toggleSignUpMode()" style="cursor:pointer" class="text-center">Create new account</a>


                              </div>
                              <!-- /.login-box-body -->
                            </div>
                            <!-- /.sign-in -->


                            <!-- SIGN UP Content -->
                            <div id="signup" ng-show="isSignUpMode">
                              <div class="login-box-body" style="padding: 0px">
                                <p class="login-box-msg">Create an account</p>
                                <div data-ng-show="error" class="text-center text-danger">
                                  <strong data-ng-bind="error"></strong>
                                </div>
                                <form data-ng-submit="signup()">
                                  <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="{{pFirstName}}" data-ng-model="credentials.firstName">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                  </div>
                                  <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="{{pLastName}}" data-ng-model="credentials.lastName">
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                  </div>
                                  <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="{{pBirthday}}" id="datepicker2" data-ng-model="credentials.birthday">
                                    <span class="glyphicon glyphicon-gift form-control-feedback"></span>
                                  </div>
                                  <div class="form-group has-feedback">
                                    <input type="email" class="form-control" placeholder="{{pEmail}}" data-ng-model="credentials.email">
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                  </div>
                                  <div class="form-group has-feedback">
                                    <input type="password" class="form-control" placeholder="{{pPassword}}" data-ng-model="credentials.password">
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                  </div>
                                  <div class="form-group has-feedback">
                                    <input type="password" class="form-control" placeholder="{{pRPassword}}" data-ng-model="credentials.repeatPassword">
                                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-8">
                                      <label>
                                        <input type="checkbox" ng-model="checkboxTermsConditions">
                                        <span>T&eacute;rminos de uso</span>
                                      </label>
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-xs-4">
                                      <button type="submit" id="btnSingUp" class="btn btn-success btn-block btn-sm" ng-enabled="checkboxTermsConditions" >Create account now</button>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                                </form>
                                <!-- /.social-auth-links -->

                                <a ng-click="toggleSignUpMode()" style="cursor:pointer" >I already have an account</a>
                                <br>
                              </div>
                              <!-- /.login-box-body -->
                            </div>


                          </div>
                          <!-- /.login-box -->

                        </div>
                        <!-- /.first step session -->
                    </div>

                </div>
                <!-- /.modal-body -->

                <!-- modal-footer -->
                <div class="modal-footer">

                </div>
                <!-- /.modal-footer -->

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
