<div ng-controller="AuthenticationController">
    <div class="modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- modal-header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div id="loginHeader">
                        <h4 class="modal-title">{{ modalTitle}}</h4>
                        <small>{{ modalSubtitle}}</small>
                    </div>
                </div>
                <!-- /.modal-header -->

                <!-- modal-body -->
                <div id="modalBody" class="modal-body table-responsive modal-body-first" style="padding-top: 0px; height: inherit;">
                    <div style="">

                        <!-- first step session -->
                        <div id="session">

                        </div>
                        <!-- /.first step session -->
                    </div>

                </div>
                <!-- /.modal-body -->

                <!-- modal-footer -->
                <div class="modal-footer">

                </div>
                <!-- /.modal-footer -->

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
